.Container {
  width: 100%;
  margin: auto;
  margin-top: 16px;
  text-align: center;
}

.Input {
  display: block;
  font-size: 11px;
  padding: 4px 2px;
  border: solid 1px #aacfe4;
  width: 70px;
  margin: 2px 0 20px 10px;
}

.button {
  margin-top: 16px;
}
